---
import { Image } from "astro:assets";
interface Props {
    name: string;
    tracks: number;
    imageSrc: string;
    plId: string;
}

const { name, tracks, imageSrc, plId } = Astro.props;
---

<script>
    // CHRISTIAN: this isn't getting sent now because we're using htmx partials
    const tiles = document.querySelectorAll("div.playlist-tile");

    async function makePutRequest(plId: string) {
        const resp = await fetch("/playlists/" + plId, {
            method: "PUT",
            body: JSON.stringify({ action: "shuffle" }),
        });
        return resp.ok;
    }

    tiles.forEach((elem) => {
        const tile = elem as HTMLDivElement;
        const plId = tile.dataset.plId;
        const name = tile.dataset.name;
        if (!plId || !name) {
            return;
        }

        tile.addEventListener("click", async () => {
            const success = await makePutRequest(plId);
            const alertMsg = success
                ? `Playlist ${name} shuffled successfully`
                : `Error while shuffling playlist ${name}`;
            alert(alertMsg);
        });
    });
</script>

<div
    class="root card playlist-tile"
    data-pl-id={plId}
    data-name={name}
    hx-get="/playlists?limit=20"
    hx-swap="afterend"
    hx-trigger="revealed"
>
    <Image
        src={imageSrc}
        alt=`Cover of playlist "${name}"`
        height={100}
        width={100}
    />
    <div class="text-area">
        <span>{name}</span>
        <br />
        <span>{`${tracks} tracks`}</span>
    </div>
</div>
